<accordion>
  <accordion-group heading="Education"
  [isOpen]="isFirstOpen">
    <ul class='aboutMe'>
    <li>QCC</li>
    <li>QC</li>
    <li>RFK HighSchool</li>
    </ul>

  </accordion-group>
  <accordion-group heading="Skills">
    <ul class='aboutMe'>
      <li>Visual Basic</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JS</li>
      <li>JQuery</li>
      <li>C++</li>
      <li>AngularJS</li>
    </ul>
  </accordion-group>
  <accordion-group heading="Hobbies">
    <ul class='aboutMe'>
      <li>Hiking</li>
      <li>Snowboarding</li>
      <li>PC/Mobile Games</li>
    </ul>
  </accordion-group>
</accordion>