<h3></h3>

<p>
  <a routerLink="/shipping">About Me</a>
</p>

<p>
  <a routerLink="/graphic">Projects</a>
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Email
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Submit</button>

</form>

<div class="myinfo">
  <h1>
    Kevin Jiang
  </h1>
  <h2>
    Email: JKWK539@GMAIL.COM
  </h2>
  <h3>
    Phone: 917-123-4567
  </h3>
</div>
 