<div class="list">
	<h2>Home</h2>

	<div *ngFor="let product of products; index as productId">

		<h3>
			<a [title]="product.name + ' details'">
				{{ product.name }}
			</a>
		</h3>

		<button (click)="share()">
      <a routerLink="/graphic">
				<i class="material-icons" id="icon">work</i>
				<h5>Projects</h5>
			</a>
  </button>

  <button (click)="share()">
      <a routerLink="/shipping">
				<i class="material-icons" id="icon">person</i>
				<h5>About Me</h5>
			</a>
  </button>



		<button (click)="share()">
      <a routerLink="/cart">
				<i class="material-icons" id="icon">call</i>
				<h5>Contact Me</h5>
			</a>
  </button>

		<app-product-alerts [product]="product" (notify)="onNotify()">
		</app-product-alerts>

	</div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->