.menu {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.menu:hover {
  background-color: transparent;
  color: white;
}

#size {
  font-size: 50px;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(146, 9, 173, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 60%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #230b91;
}

.overlay a {
  padding: 51px;
  width: auto;
  text-decoration: none;
  font-size: 10px;
  color: #230b91;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 60px;
  background-color: transparent;
  color: aquamarine;
}

#icon {
  text-decoration: none;
  font-size: 36px;
  color: #c3ec0d;
  display: block;
  transition: 0.3s;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
