
.text {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 40px;
}

.text:hover {
  background-color: #555;
  color: white;

}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/